name: Build Desktop App (Windows)

on:
  push:
    branches: [ "main", "master" ] # Roda sozinho quando você subir código pra main/master
  workflow_dispatch: # Cria um botãozinho para você rodar manualmente quando quiser

jobs:
  build:
    runs-on: windows-latest # A mágica: Roda num servidor Windows na nuvem!

    steps:
      - name: Baixar o código do repositório
        uses: actions/checkout@v4

      - name: Instalar e Configurar o Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Mesma versão estável que usamos

      - name: Instalar dependências (npm install)
        run: npm install
      
      - name: Verificar Vulnerabilidades (Security Audit)
        run: npm audit --audit-level=high

      - name: Compilar o React e Gerar o Executável (.exe)
        run: npm run electron:build:win
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Disponibilizar o .exe para Download
        uses: actions/upload-artifact@v4
        with:
          name: Instalador-Bradesco-BI-Docs
          path: release/*.exe
          retention-days: 7 # Guarda o arquivo nos servidores do GitHub por 7 dias